<div class="container-fluid">
    <div class="row">
        <div class="col-3">

            <app-sidebar ></app-sidebar>
        </div>
      <div class="col-8 align-items-center w-100 mt-5 justify-content-center">
        <mat-card class="cardWithShadow w-100">
            <mat-card-content class="p-24">
              <div class="row justify-content-between">
                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100 hide-hint">
                    <input
                      matInput
                      placeholder="Search User"
                      (keyup)="applyFilter($any($event.target).value)"
                    />
                    <mat-icon matSuffix>
                      <i-tabler name="search" class="icon-20"></i-tabler>
                    </mat-icon>
                  </mat-form-field>
                </div>
                <div  class="col-lg-4 d-flex align-items-center justify-content-end">
                  <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
                    Add user
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        <mat-card class="cardWithShadow w-100">
            <mat-card-content class="p-24">
              <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="w-100">
                  <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">#</th>
                    <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
                  </ng-container>
                  <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        username
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.username }}</td>
                  </ng-container>
          
                   
          
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        email
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                      {{ element.email  }}
                    </td>
                  </ng-container>
       
          
                  <ng-container matColumnDef="numtel">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        numtel
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                      {{ element.numtel }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="roles">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        roles
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                      {{ element.roles }}
                    </td>
                  </ng-container>
               
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        status
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                      {{ element.status }}
                    </td>
                  </ng-container>
                  <ng-container   matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                      Action
                    </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                      
                      <a
                        (click)="openDialog('Update', element)"
                        class="m-r-10 cursor-pointer"
                        ><i-tabler name="edit" class="icon-18"></i-tabler
                      ></a>
                      <a
                        (click)="openDialog('Delete', element)"
                        class="m-r-10 cursor-pointer"
                      >
                        <i-tabler name="trash" class="icon-18"></i-tabler>
                      </a>
                    </td>
                  </ng-container>
          
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <mat-paginator
                  [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                ></mat-paginator>
              </div>
            </mat-card-content>
          </mat-card>
          
      </div>
    </div>
  </div>